* {
    margin: 0; /* 外部余白のリセット */
    padding: 0; /* 内部余白のリセット */
    box-sizing: border-box; /* widthやheightなどのサイズ指定をボーダーを含んだサイズで指定できるように変更 */
  }
  body{
      overflow: hidden;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  }
header{
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    font-size: 3em;
}
h2{
    margin-left: 5%;
}
.hero{
    box-align: center;
    display: flex;
    position: relative;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    height: 100vmin;
    width:100vmin;
    
}
.a1{
    margin: auto;
    position: absolute;
    display: inline-block;
    width:fit-content;
    box-align:center;
    bottom: 18.5%;
    right: -29%;
    width:  98.9% ;
    height: 17%;
    z-index: -1;
}
.img1{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    display: inline-block;
    box-align:center;
    object-fit: cover;
    mask-mode: alpha;
    mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/luminance-cat.png);
    mask-mode: luminance;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 80%;
    mask-size: 80%;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.a1:hover{
    z-index: 1;
    right: -29%;
    width:  98% ;
}
.img1:hover{
    background-color: rgba(255, 226, 88, 1); background-image: repeating-linear-gradient(135deg, transparent,transparent 24px,
    rgb(255, 255, 255) 24px,#0f76b6 48px );
    background-position: center center;
     z-index: 1;
 }
.a2{
    margin: auto;
    position: absolute;
    display: inline-block;
    width:fit-content;
    box-align:center;
    bottom: 14%;
    right: 30%;
    width:  40% ;
    height: 32.7%;
    z-index: -2;
}
.img2{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    display: inline-block;
    box-align:center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.a2:hover{
    z-index: 1;
     width:  48% ;
     height: 38%;
}
.img2:hover{
    background-color: rgba(255, 226, 88, 1); background-image: repeating-linear-gradient(135deg, transparent,transparent 24px,
    rgb(255, 255, 255) 24px,#0f76b6 48px );
    background-position: center center;
     z-index: 1;
    
 }
.a3{
    margin: auto;
    position: absolute;
    display: inline-block; 
    box-align:center;
    bottom: 14%;
    left:12%;
    width:  25%;
    height: 40%;
    z-index: -3;
}
.img3{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    display: inline-block;
    box-align:center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -3;
}
.a3:hover{
    z-index: 1;
     width:  30% ;
     height: 48%;
}
.img3:hover{
    background-color: rgba(255, 226, 88, 1); background-image: repeating-linear-gradient(135deg, transparent,transparent 24px,
    rgb(255, 255, 255) 24px,#0f76b6 48px );
    background-position: center center;
     z-index: 1;
    
 }
.a4{
    margin: auto;
    position: absolute;
    display: inline-block; 
    box-align:center;
    bottom: 33%;
    left:20%;
    width:  60%;
    height:30%;
    z-index: -4;
}
.img4{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    display: inline-block;
    box-align:center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -4;
}
.a4:hover{
    z-index: 1;
     width:  72% ;
     height: 36%;
}
.img4:hover{
    background-color: rgba(255, 226, 88, 1); background-image: repeating-linear-gradient(135deg, transparent,transparent 24px,
    rgb(255, 255, 255) 24px,#0f76b6 48px );
    background-position: center center;
     z-index: 1;
    
 }
.a5{
    margin: auto;
    position: absolute;
    display: inline-block; 
    box-align:center;
    top: 11%;
    left:44%;
    width: 15%;
    height:15%;
    z-index: -5;
}
.img5{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    display: inline-block;
    box-align:center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -5;
}
.a5:hover{
    z-index: 1;
     width:  30% ;
     height: 30%;
}
.img5:hover{
    background-color: rgba(255, 226, 88, 1); background-image: repeating-linear-gradient(135deg, transparent,transparent 24px,
    rgb(255, 255, 255) 24px,#0f76b6 48px );
    background-position: center center;
     z-index: 1;
    
 }
.a6{
    margin: auto;
    position: absolute;
    display: inline-block; 
    box-align:center;
    top: 20%;
    left:23%;
    width: 66%;
    height:50%;
    z-index: -6;
}
.img6{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    display: inline-block;
    box-align:center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -6;
}
.a6:hover{
    z-index: 1;
     width:  30% ;
     height: 30%;
}
.img6:hover{
    background-color: rgba(255, 226, 88, 1); background-image: repeating-linear-gradient(135deg, transparent,transparent 24px,
    rgb(255, 255, 255) 24px,#0f76b6 48px );
    background-position: center center;
     z-index: 1;
    
 }
.a7{
    margin: auto;
    position: absolute;
    display: inline-block; 
    box-align:center;
    top: 0.5%;
    left:10%;
    width: 80%;
    height:28%;
    z-index: -7;
}
.img7{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    display: inline-block;
    box-align:center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -7;
}
.a7:hover{
    z-index: 1;
     width:  96% ;
     height: 33%;
}
.img7:hover{
    background-color: rgba(255, 226, 88, 1); background-image: repeating-linear-gradient(135deg, transparent,transparent 24px,
    rgb(255, 255, 255) 24px,#0f76b6 48px );
    background-position: center center;
     z-index: 1;
    
 }
.a8{
    margin: auto;
    position: absolute;
    display: inline-block; 
    box-align:center;
    top: 10%;
    left:10%;
    width: 30%;
    height:40%;
    z-index: -8;
}
.img8{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    display: inline-block;
    box-align:center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -8;
}
.a8:hover{
    z-index: 1;
     width:  36% ;
     height: 48%;
}
.img8:hover{
    background-color: rgba(255, 226, 88, 1); background-image: repeating-linear-gradient(135deg, transparent,transparent 24px,
    rgb(255, 255, 255) 24px,#0f76b6 48px );
    background-position: center center;
     z-index: 1;
    
 }
.a9{
    margin: auto;
    position: absolute;
    display: inline-block; 
    box-align:center;
    top: 0.5%;
    right:15%;
    width: 30%;
    height:33%;
    z-index: -9;
}
.img9{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    display: inline-block;
    box-align:center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -9;
}
.a8:hover{
    z-index: 1;
     width:  36% ;
     height: 39%;
}
.img8:hover{
    background-color: rgba(255, 226, 88, 1); background-image: repeating-linear-gradient(135deg, transparent,transparent 24px,
    rgb(255, 255, 255) 24px,#0f76b6 48px );
    background-position: center center;
     z-index: 1;
    
 }
.a10{
    margin: auto;
    position: absolute;
    display: inline-block;
    width:fit-content;
    box-align:center;
    bottom: 22%;
    right: 50%;
    width:  20% ;
    height: 15%;
    z-index: -10;
}
.img10{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    display: inline-block;
    box-align:center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -10;
}